<h1>
  My Cart
</h1>

<ng-container *ngIf="cart">
    <mat-card *ngFor="let product of cart" class="example-card">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.productImage" [alt]="product.name">
        <mat-card-content>
          <p>
            Price: {{product.price | currency: 'LKR'}}
          </p>
        </mat-card-content>
      </mat-card>
</ng-container>
