.example-card {
  max-width: 40%;
  float: left;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  width: 250px;
  height: 400px;
}
